<h1>Share a network</h1>

<%= form_tag sharings_network_path(@network) do %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% @network.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= text_field_tag :user_search, nil, class: 'search_input' %>
        <%= submit_tag "Search" %>

  <div id="search_users">
  
  </div>


  </div>


<% end %>
