<div class="row">
  <div class="large-12 columns">
    <h1>Share a network</h1>

    <%= form_tag sharings_network_path(@network) do %>

    <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this friendship from being saved:</h2>
      <ul>
        <% @network.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
    <div class="row collapse">
      <div class="small-12 columns">
    <%= text_field_tag :user_search, nil, class: 'search_input' %>
      </div>
    </div>
    <div id="search_users"></div>
      <% hidden_field_tag 'friend_ids[]' %>
      <% @members.each do |member| %>
      <% if @network.shared_with?(member) == true %>
      <%= label_tag "friend_ids_#{member.id}", member.email %><br>
      <%= check_box_tag 'friend_ids[]', member.id, @network.shared_with?(member) %>
      <% end %>
    <% end %>
    <div class="actions">
     <%= submit_tag("Share network", :id=>"shared-users", :class=>"button postfix") %>
   </div>
   <br>
   <% end %>
</div>
</div>



