<%= form_for(@network) do |f| %>
  <div><%= f.hidden_field :user_id, value: current_user.id %></div>
  <div><%= f.text_field :ssid, placeholder: 'network name (SSID)' %></div>
  <div><%= f.text_field :password, placeholder: 'password' %></div>
  <div><%= f.text_field :location, placeholder: 'address' %></div>
  <div><%= f.hidden_field :longitude, :value => @network.longitude %></div>
  <div><%= f.hidden_field :latitude, :value => @network.latitude %></div>
  <div><%= f.text_field :nickname, placeholder: 'nickname' %></div>
  <div><%= f.select :public_private, options_for_select([['Private'], ['Public']]) %></div>
  <%= f.submit 'Add network' %>
<% end %>