<h1>Listing networks</h1>

<table>
  <tr>
    <th>Ssid</th>
    <th>Password</th>
    <th>Location</th>
    <th>User</th>
    <th>Nickname</th>
    <th>Public private</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @networks.each do |network| %>
  <tr>
    <td><%= network.ssid %></td>
    <td><%= network.password %></td>
    <td><%= network.location %></td>
    <td><%= network.user_id %></td>
    <td><%= network.nickname %></td>
    <td><%= network.public_private %></td>
    <td><%= link_to 'Show', network %></td>
    <td><%= link_to 'Edit', edit_network_path(network) %></td>
    <td><%= link_to 'Destroy', network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Network', new_network_path %>
