<p id="notice"><%= notice %></p>

<h1><%= @network.nickname %></h1>
<h2><%= @network.location %></h2>
<p>Network name (SSID): <%= @network.ssid %></p>
<p>Password: <%= @network.password %></p>
<p>Add by: <%= @network.user.email %></p>
<p><%= @network.public_private %></p>

<%= link_to 'Edit', edit_network_path(@network) %><br>
<%= link_to 'Delete', @network, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'Back', networks_path %>
