<p id="notice"><%= notice %></p>

<h1><%= @network.nickname %></h1>
<h2><%= @network.location %></h2>
<p>Network name (SSID): <%= @network.ssid %></p>
<p>Password: <%= @network.password %></p>
<p>Add by: <%= @network.user.email %></p>
<p><%= @network.public_private %></p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@network.latitude}%2C#{@network.longitude}" %><br>

<%= link_to 'Share this network', new_friendship_path %><br>

<%= link_to 'Edit', edit_network_path(@network) %><br>
<%= link_to 'Delete', @network, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'Back', networks_path %>
