<!DOCTYPE html>
<html>
<head>
  <title>WifiApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> WELCOME TO THE WIFI APP </h1>

<nav>
  <ul>
      <% if current_user %>
      <li><%= current_user.email %></li> 
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    <li><%= link_to "Home", networks_path %></li>
    <li><%= link_to "Shares", friendships_path %></li>
  </ul>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
