<p id="notice"><%= notice %></p>

<p>
  <p>User:</p>
  <%= @friendship.user.email %>
</p>

<p>
  <p>Friend:</p>
  <%= @friendship.friend.email %>
</p>

<p>
  <p>Network:</p>
<!--   define in the controller -->
  <% network = @friendship.network_id %>
  <%= Network.find(network).nickname %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
