<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
 
 <%= current_user.email %>

 <b>Friends:</b>
 <% current_user.friends.each do |friend| %>
    <%= friend.email %>
    <% end %>
</p>


<h2>Friends</h2>
<ul>
  <% for friendship in current_user.friendships %>
    <li>
      <%=h friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>


<h2>Friended by Users</h2>
<ul>
  <% for user in current_user.inverse_friends %>
    <li><%=h user.email %></li>
  <% end %>
</ul>

<h2>Networks</h2>
<ul>
  <% for user in current_user.inverse_friends %>
    <li><%=h user.email %></li>
  <% end %>
</ul>



